.full-height {
  height: 100%;
}
.container-fluid {
  max-width: 768px;
  margin: 0 auto;
}

// フッターにコンテンツが隠れないようにする
.content-container {
  margin-bottom: 58px;
}

.page-title {
  margin-top: 10px;
  margin-bottom: 40px;
}

a:focus {
  outline: none;
  box-shadow: 0 0 0 2px rgba($gray-500, .5);
  color: $gray-600 !important;
}

.lined-text {
  display: flex;
  align-items: center;
}

.lined-text::before,
.lined-text::after {
  content: "";
  background-color: $gray-900;  // 線のカラー
  flex-grow: 1;
  height: 1px;
}

.lined-text::before {
  margin-right: 7px;
}

.lined-text::after {
  margin-left: 7px;
}


/*------------------------------------------*/

/*==========================================
                   form
==========================================*/

.form-container {
  margin: 25px 0 98px; // bottomは必要分+footer58px分追加してる
  padding: 0 40px; 
  max-width: 450px;
}

.form-group {
  margin-bottom: 20px;
}

// form左側のアイコンのカラー
.input-group-text {
  color: $gray-600;
}

/*==========================================
                   button
==========================================*/

.btn-yellow {
  background-color: map-get($theme-colors, "custom-yellow");
  border-color: map-get($theme-colors, "custom-yellow");
  color: $body-bg;
}

.btn-yellow:hover,
.btn-yellow:focus {
  background-color: rgba(map-get($theme-colors, "custom-yellow"), .75);
  border-color: rgba(map-get($theme-colors, "custom-yellow"), .75);
  color: $body-bg;
}

.btn-yellow:active {
  background-color: rgba(map-get($theme-colors, "custom-yellow"), .60) !important;
  border-color: rgba(map-get($theme-colors, "custom-yellow"), .60) !important;
  color: $body-bg !important;
}

.btn-outline-yellow {
  background-color: transparent;
  border-color: map-get($theme-colors, "custom-yellow");
  color: map-get($theme-colors, "custom-yellow");
}

.btn-outline-yellow:focus,
.btn-outline-yellow:hover {
  background-color: rgba(map-get($theme-colors, "custom-yellow"), .35);
  border-color: rgba(map-get($theme-colors, "custom-yellow"), .35);
  color: $body-bg;
}

.btn-outline-yellow:active {
  background-color: rgba(map-get($theme-colors, "custom-yellow"), .20) !important;
  border-color: rgba(map-get($theme-colors, "custom-yellow"), .20) !important;
  color: $body-bg !important;
}

.btn-green {
  background-color: map-get($theme-colors, "custom-green");
  border-color: map-get($theme-colors, "custom-green");
  color: $body-bg;
}

.btn-green:hover,
.btn-green:focus {
  background-color: rgba(map-get($theme-colors, "custom-green"), .75);
  border-color: rgba(map-get($theme-colors, "custom-green"), .75);
  color: $body-bg;
}

.btn-green:active {
  background-color: rgba(map-get($theme-colors, "custom-green"), .60) !important;
  border-color: rgba(map-get($theme-colors, "custom-green"), .60) !important;
  color: $body-bg !important;
}

.btn-outline-green {
  background-color: transparent;
  border-color: map-get($theme-colors, "custom-green");
  color: map-get($theme-colors, "custom-green");
}

.btn-outline-green:hover, 
.btn-outline-green:focus {
  background-color: rgba(map-get($theme-colors, "custom-green"), .35);
  border-color: rgba(map-get($theme-colors, "custom-green"), .35);
  color: $body-bg;
}

.btn-outline-green:active {
  background-color: rgba(map-get($theme-colors, "custom-green"), .20) !important;
  border-color: rgba(map-get($theme-colors, "custom-green"), .20) !important;
  color: $body-bg !important;
}

.btn-outline-black {
  background-color: transparent;
  border-color: $body-color;
  color: $body-color;
}

.btn-outline-black:hover,
.btn-outline-black:focus {
  background-color: rgba($body-color, .35);
  border-color: rgba($body-color, .35);
  color: $body-bg;
}

.btn-outline-black:active {
  background-color: rgba($body-color, .20) !important;
  border-color: rgba($body-color, .20) !important;
  color: $body-bg !important;
}


/*------------------------------------------*/

/*==========================================
              header / footer
==========================================*/

.nav-icon {
  font-size: 26px;
}

header {
  height: 58px;
}

#app-logo {
  font-size: 26px;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 400;
}

//何故かnav-linkの状態ごとのカラー設定が反映されないのでここで上書き
#app-logo:hover,
#app-logo:active {
  color: $gray-600;
}

//ドロップダウンの矢印を非表示
#infoButton::after {
  display: none;
}

#infoButton i {
  font-size: 1.2rem;
}

/*------------------------------------------*/

footer {
  height: 58px;
}

.footer-width {
  max-width: 768px;
}

footer ul li a {
  color: $gray-600 !important;
}

footer ul li a:hover,
footer ul li a:focus,
footer ul li a:active {
  color: map-get($theme-colors, "custom-yellow") !important;
}

/*------------------------------------------*/

/*==========================================
              static_pages
==========================================*/

.main-visual {
  display: flex;
  position: relative;
}

.main-visual-text {
  position: absolute;
  bottom: 8%;
  right: 5%;
  padding: 5px;
  background: -moz-radial-gradient(rgba(255, 253, 248, 0.9), rgba(255, 253, 248, 0.05));
  background: -webkit-radial-gradient(rgba(255, 253, 248, 0.9), rgba(255, 253, 248, 0.05));
  background: radial-gradient(rgba(255, 253, 248, 0.9), rgba(255, 253, 248, 0.05));
}

.main-copy {
  color: map-get($theme-colors, "custom-yellow");
  letter-spacing: 0.2em;
  text-align: right;
}

.top-container {
  width: 100%;

  @media (max-width: 430px) {
    height: 170px; // 0〜430px の範囲の文字サイズ
  }

  @media (min-width: 431px) and (max-width: 520px) {
    height: 190px; // 431〜521px の範囲の文字サイズ
  }

  @media (min-width: 521px) and (max-width: 640px) {
    height: 200px; // 521〜640px の範囲の文字サイズ
  }

  @media (min-width: 641px) {
    height: 210px; // 641px 以上の範囲の文字サイズ
  }
}

.top-contents {
  @media (max-width: 430px) {
    height: 80px; // 0〜430px の範囲の文字サイズ
  }

  @media (min-width: 431px) and (max-width: 520px) {
    height: 85px; // 431〜521px の範囲の文字サイズ
  }

  @media (min-width: 521px) and (max-width: 640px) {
    height: 90px; // 521〜640px の範囲の文字サイズ
  }

  @media (min-width: 641px) {
    height: 95px; // 641px 以上の範囲の文字サイズ
  }
}

.top-contents-list {
  letter-spacing: 0.1em;

  @media (max-width: 430px) {
    font-size: 0.9rem; // 0〜430px の範囲の文字サイズ
  }

  @media (min-width: 431px) and (max-width: 520px) {
    font-size: 1rem; // 431〜521px の範囲の文字サイズ
  }

  @media (min-width: 521px) and (max-width: 640px) {
    font-size: 1.1rem; // 521〜640px の範囲の文字サイズ
  }

  @media (min-width: 641px) {
    font-size: 1.2rem; // 641px 以上の範囲の文字サイズ
  }
}

.top-bg {
  display: flex;
  position: relative;
}

.top-bg i{
  font-size: 90px;
  color: map-get($theme-colors, "custom-gray-2");

  @media (max-width: 430px) {
    font-size: 70px; // 0〜430px の範囲の文字サイズ
  }

  @media (min-width: 431px) and (max-width: 520px) {
    font-size: 80px; // 431〜521px の範囲の文字サイズ
  }

  @media (min-width: 521px) and (max-width: 640px) {
    font-size: 90px; // 521〜640px の範囲の文字サイズ
  }

  @media (min-width: 641px) {
    font-size: 95px; // 641px 以上の範囲の文字サイズ
  }
}

.top-bg-copy {
  position: absolute;
  bottom: 0;
  letter-spacing: 0.2em;
  color: map-get($theme-colors, "custom-gray-5");
}

.top-bg-copy-left {
  left: 5px;
}

.top-bg-copy-right {
  right: 5px;
  text-align: right;
}

.main-copy,
.top-bg-copy {
  @media (max-width: 430px) {
    font-size: 1rem; // 0〜430px の範囲の文字サイズ
  }

  @media (min-width: 431px) and (max-width: 520px) {
    font-size: 1.2rem; // 431〜521px の範囲の文字サイズ
  }

  @media (min-width: 521px) and (max-width: 640px) {
    font-size: 1.35rem; // 521〜640px の範囲の文字サイズ
  }

  @media (min-width: 641px) {
    font-size: 1.5rem; // 641px 以上の範囲の文字サイズ
  }
}


